
@{
    ViewBag.Title = "CDs";
}

@using ErstesBeispiel.Models
@model IEnumerable<Cd>

<style>
    table, th, td {
        border: 1px solid black;
    }
    tr#tr01 {
        font-size: larger;
    }
</style>

<h1>CD Liste</h1>
<br/>

<table style="width:100%">
    <tr style="background-color: lightblue" id="tr01">
        <th>Interpret</th>
        <th>CD Titel</th>
        <th>Jahr</th>
        <th>Anzahl Titel</th>
    </tr>
    @foreach (Cd cd in ViewBag.CdListe)
    {
        <tr>
            <th>@cd.Interpret</th>
            <th>@cd.CdTitel</th>
            <th>@cd.Jahr</th>
            <th>@cd.AnzahlTitel</th>
        </tr>        
    }
</table>
